.datepicker-container{
    position: relative;
   /*  border: 4px solid #E1E1E1; */
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    outline: none;
    box-shadow: 0 0 6px 6px #00000024;

   /*  height: 400px; */
    overflow: hidden;
    position: absolute;
    right: -50%;
    top: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &>/* :nth-child(odd)  */:not(:first-child){
        border-left: 1px solid #7070703a;
    }
}